@model IEnumerable<PetShelter.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>CRUD Animais</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoSaude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HistoricoSaude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
